<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RUMS登録画面</title>
    </head>
    <body>
    <form action="/insert_confirm" method="POST">
        名前:
        <input type="text" name="name" value="<%=@insert_params["name"]%>">
        <br><br>

        生年月日:
        <select name="year">
            <option value="">----</option>
            <% for i in 1960..2010 %>
              <% if @insert_params["year"] == i.to_s%>
                <option value="<%=i%>" selected="selected"> <%=i%> </option>
              <% else %>
                <option value="<%=i%>"> <%=i%> </option>
              <% end %>
            <% end %>
        </select>年
        <select name="month">
            <option value="">--</option>
            <% for i in 1..12 %>
              <% if @insert_params["month"] == i.to_s%>
                <option value="<%=i%>" selected="selected"> <%=i%> </option>
              <% else %>
                <option value="<%=i%>"> <%=i%> </option>
              <% end %>
            <% end %>
        </select>月
        <select name="day">
            <option value="">--</option>
            <% for i in 1..31 %>
              <% if @insert_params["month"] == i.to_s%>
                <option value="<%=i%>" selected="selected"> <%=i%> </option>
              <% else %>
                <option value="<%=i%>"> <%=i%> </option>
              <% end %>
            <% end %>
        </select>日
        <br><br>

        種別:
        <br>
        <input type="radio" name="type" value="1" <%= @insert_params["type"] == "1" ? "checked" : "" %>>エンジニア<br>
        <input type="radio" name="type" value="2" <%= @insert_params["type"] == "2" ? "checked" : "" %>>営業<br>
        <input type="radio" name="type" value="3" <%= @insert_params["type"] == "3" ? "checked" : "" %>>その他<br>
        <br>

        電話番号:
        <input type="text" name="tell" value="<%=@insert_params["tell"]%>">
        <br><br>

        自己紹介文
        <br>
        <textarea name="comment" rows=10 cols=50 style="resize:none" wrap="hard"><%=@insert_params["comment"]%></textarea><br><br>

        <input type="hidden" name="secret"  value="<%= @secret %>">
        <input type="submit" name="btnSubmit" value="確認画面へ">
    </form>
        <br>
        <p><a href="/">トップに戻る</a></p>
    </body>
</html>
