<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RUMS登録確認画面</title>
    </head>
    <body>
    <% if @filled_flag %>
        <h1>登録確認</h1>
        名前:<%= @params["name"]%><br>
        生年月日:<%= @params["year"]%><br>
        種別:<%= @params["type"]%><br>
        電話番号:<%= @params["tell"]%><br>
        自己紹介:<%= @params["comment"]%><br>
        上記の内容で登録します。よろしいですか？
        <form action="/insert_result" method="POST">
            <input type="submit" name="yes" value="はい">
        </form>
    <% else %>
        <h1>入力が不完全です</h1>
    <% end %>
        <form action="/insert" method="POST">
            <input type="submit" name="no" value="登録画面に戻る">
        </form>
        <p><a href="/">トップに戻る</a></p>
    </body>
</html>
